Workflow/n8n Lead Genration Workflow.json
{
  "name": "Lead Genration Workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/2Mdma1N6Fd0y3QEjR/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_7hKboR0hu2b2u9NQt1PdMLg00kfnNn3xrf1e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json['City, Country'] }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Number of leads'] }},\n    \"searchStringsArray\": [\n        \"{{ $json['Niche of leads'] }}\"\n    ],\n    \"skipClosedPlaces\": false\n}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 50
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -160
      ],
      "id": "a712425a-a6b9-49f2-a696-f6a1d7b5bfe9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2108fb55-8508-4947-92dd-dfc9ac431d1f",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        -160
      ],
      "id": "b66bdee6-a567-40cd-a9c0-f9b0e5ceb2e7",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        -96
      ],
      "id": "948d31f4-2ae3-416b-b950-37d92757bcfc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1lQtMQof-beNn0jbrSiBPAopnWEFWTF0bOm-t15uV4uk",
          "mode": "list",
          "cachedResultName": "Lead Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lQtMQof-beNn0jbrSiBPAopnWEFWTF0bOm-t15uV4uk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1674873353,
          "mode": "list",
          "cachedResultName": "Lead Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lQtMQof-beNn0jbrSiBPAopnWEFWTF0bOm-t15uV4uk/edit#gid=1674873353"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Business Name": "={{ $('HTTP Request').item.json.categoryName }}",
            "Address": "={{ $('Loop Over Items').item.json.address }}",
            "city": "={{ $('HTTP Request').item.json.city }}",
            "Niche": "={{ $('On form submission').item.json['Niche of leads'] }}",
            "Opening time": "={{ $('Loop Over Items').item.json.openingHours }}",
            "Email": "={{ $json.data[0].emails }}",
            "Phone ": "={{ $json.data[0].phones }}",
            "linkedin": "={{ $json.data[0].linkedIns }}",
            "Facebook": "={{ $json.data[0].facebooks }}",
            "instagram": "={{ $json.data[0].instagrams }}",
            "Youtube": "={{ $json.data[0].youtubes }}",
            "whatsapp": "={{ $json.data[0].whatsapps }}",
            "twitter": "={{ $json.data[0].twitters }}",
            "Website": "={{ $('HTTP Request').item.json.website }}",
            "ID": "==Row() -1"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opening time",
              "displayName": "Opening time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1520,
        48
      ],
      "id": "56b86f0c-7527-4bce-b004-6e522a7b7389",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uCkr2C18J0OEz8sM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        48
      ],
      "id": "db3f4e1f-6900-4789-a4ce-8c67103bf61c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "formTitle": "Leads generator form",
        "formDescription": "=Fillup the following details :",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Niche of leads",
              "placeholder": "e.g land scraper",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of leads",
              "placeholder": "5-50",
              "requiredField": true
            },
            {
              "fieldLabel": "City, Country",
              "placeholder": "e.g Lahore, Pakistan",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        144,
        -160
      ],
      "id": "d8283bea-78fc-4b2a-b3ed-2def2ff9eecb",
      "name": "On form submission",
      "webhookId": "c76cc5ca-b899-481c-9614-b76dce079734"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/9Sk4JJhEma9vBKqrg/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_7hKboR0hu2b2u9NQt1PdMLg00kfnNn3xrf1e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"considerChildFrames\": true,\n    \"maxDepth\": 1,\n    \"maxRequests\": 100,\n    \"maxRequestsPerStartUrl\": 20,\n    \"sameDomain\": true,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $('HTTP Request').item.json.website }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useBrowser\": false\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        48
      ],
      "id": "93ff9b4b-e7ab-40e1-9dde-e16aa9a296e9",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d243d830-79fe-418f-ade4-864ca15b379f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ebfd1dcf72b6d728b291bdd241ad72590deb42c8ad43f9144f03c2bcb3a92c5d"
  },
  "id": "vY1NgZChiYfmnuJD",
  "tags": []
}